.Section2{
    margin-top: 256px;
}
.txt{
    display: flex;
    justify-content: space-between;
}
.text1 h1{
    font-size: 32px;
    line-height: 45px;
    color: #263640;
}
.text1 p{
    max-width: 488px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 28px;
    color: #929A9F;
}
.txt1_btn{
    margin-top: 90px;
    display: flex;
    align-items: center;
    padding:16px;
    border: none;
    color: #FFFFFF;
    background-color: #FF9900;
}
.txt1_btn svg{
    margin:0 24px;
    color: #FFFFFF;
}
.section2_text2 h3{
    margin-top: 80px;
    font-size: 14px;
    line-height: 20px;
    color: #929A9F;

}
.txt_block{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.block_text{
    max-width: 361px;
}
.block_text h1{
    font-size: 20px;
    line-height: 30px;
    color: #263640;
}
.block_text p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 28px;
}
.block_text a{
    display: flex;
    align-items: center;
    color: #FF9900;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
    margin-top: 20px;
}
.block_text a svg{
    margin: 0 0 0 16px;
}